.arco-layout-sider-trigger {
  position:absolute;
}


.bytemd-editor .CodeMirror .CodeMirror-lines {
  max-width: 999999px !important;
}

.bytemd-preview .markdown-body {
  max-width: 999999px !important;
}


.bytemd {
  height: auto!important;
}

.arco-modal-content {
  padding: 10px!important;
}