img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  text-align: center;
}

.layout-body {
  height: 100vh;
}

.copy-btn {
  position: absolute;
  top:0;
  right: 0;
  padding: 5px 10px;
}

#edit-modal .arco-modal-content {
  padding: 0!important;
}

.arco-modal-title {
  text-align: left!important;
}
.bytemd {
  height: calc(80vh - 28px)!important;
}
.md-view-content {
  padding: 10px 7.5% 50px;
}