body {
    font-size: 16px;
}

#app .bytemd {
    height: 95vh;
    font-size: 16px;
}

img {
    width: 60%;
    height: 60%;
    text-align: center;
}

.directory-item {
    padding-bottom: 8px;
}

.directory-item span {
    vertical-align: top;
    margin-left: 4px;
    line-height: 50px;
    font-size: 18px;
}

.directory-item:hover {
    color: red;
    cursor: pointer;
    background-color: #e4e1e1;
}