@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.app .bytemd {
    height: 95vh;
}

.app .title {
    height: 20px;
}

.app ul {
    height: auto;
}

#list {
    height: '100%';
    overflow: hidden;
}

img {
    width: 60%;
    height: 60%;
    text-align: center;
}

.vditor-reset {
    padding: 10px 60px !important;
}

.vditor-toolbar {
    padding-left: 0 !important;
}

.quick-directory {
    padding-left: 5px;
}


.directory-item {
    padding-bottom: 8px;
}

.directory-item span {
    vertical-align: top;
    margin-left: 4px;
    line-height: 50px;
    font-size: 18px;
}

.directory-item:hover {
    color: red;
    cursor: pointer;
    background-color:#e4e1e1;
}

.directory-item-active {
    font-weight: bold;
    color: red;
}
.empty-directory {
    margin: 0 auto;
    text-align: center;
    padding-top: 40%;
}